snippet include "include template" b
@include("${1:template_name}")
endsnippet
snippet yield "yield section" b
@yield("${1:section}")
endsnippet
snippet section "section block" b
@section("${1:section}")
@endsection
endsnippet
