snippet random_item "random item" b
$items = [i1, i2, i3];
$items[array_rand($items)];
endsnippet

snippet range "python like range" b
foreach (range(0, ${1:total}) as $i) {
	echo $i;
}
endsnippet

snippet date "get date from datetime" b
$datetime->format('Y-m-d');
endsnippet

snippet strip "strip" b
trim($$str);
endsnippet

snippet json "json encode" b
json_encode($${1:attr});
endsnippet
